*.iml
*.ipr
*.iws
target/
/**/var/
pom.xml.versionsBackup
test-output/
test-reports/
/atlassian-ide-plugin.xml
.idea
.run
.DS_Store
.classpath
.settings
.project
*~
*.pyc
*.class
.checkstyle
.mvn/timing.properties
.vscode/
